body {
    background: linear-gradient(90deg, cyan, darkblue);
    font-size: 18px;
}

.takmalo {
    border-radius: 18px;
    padding: 30px;
    margin: 0 auto;
    background: linear-gradient(90deg, purple, rgb(178, 39, 178));
    max-width: 75%;
    color: cyan;
}

.yay {
    border-radius: 18px;
    padding: 30px;
    margin: 0 auto;
    background: linear-gradient(90deg, rgb(225, 100, 114), rgb(195, 11, 11));
    max-width: 75%;
    color: rgb(0, 0, 0);
    margin-top: 50px;

}

table {
    text-align: center;
    height: 75%;
    width: 75%;
    padding: 20px;
    margin: 0 auto;
    border: 2px solid black;
    font-size: 20px;
    margin-top: 50px;
}

td {
    padding: 20px;
    margin: 0 auto;
    border: 2px solid black;
    font-size: 20px;
    margin-top: 50px;
}

.zuta {
    font-family: arial;
    border-radius: 18px;
    padding: 30px;
    margin: 0 auto;
    background: linear-gradient(90deg, rgb(187, 237, 6), rgb(227, 131, 6));
    max-width: 75%;
    color: rgb(0, 0, 0);
    margin-top: 50px;
}