.pocetak {
    font-family: arial;
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

hr {
    border: 2px solid purple;
}

.kartica {
    font-family: arial;
    font-size: 16px;
    color: white;
    width: 300px;
    padding: 10px;
    background: linear-gradient(90deg, pink, purple);
    border: 2px solid black;
    margin: 0 auto;

    /* Za obljuje kutove elementa */
    border-radius: 18px;

    /* Ovo svojstvo dodaje sjenu elementu */
    /* X, Y, Spread od 15 pixela u sivoj boji */
    box-shadow: 10px 10px 15px gray;

    /* Ovo svojstvo daje sjenu tekstu */
    text-shadow: 2px 2px 4px black;

    /* Ovo rotira element */
    transform: rotate(5deg);

    /* Ovo povecava/smanjuje element */
    transform: scale(0.8);

    /* Ovo pomice element */
    transform: translate(50px,50px);

    transform: rotate(5deg)
               scale(0.8)
               translate(50px,50px);

}